html, body {
    font: 300 18px / 24px 'Open Sans', sans-serif;
    color: #333 !important;
    overflow-x: hidden;
}

.wrapper {
    vertical-align: middle;
}   

.top-title {
    font-size: 45px;
    color: #00a0e3;
}
