.Banner {
    position: relative;
}

.Banner .inner {
    position: relative;
    /* height: 300px; */
}

.Banner .inner::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.Banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
